input[type=number] {
    float: left;
    width: 70px;
    height: 35px;
    padding: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border: 2px black solid;
    background: none;
    outline: none;
    pointer-events: none;
}

span.spinner {
    position: absolute;
    height: 40px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

span.spinner>.sub,
span.spinner>.add {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 33px;
    color: #000000;
    border: 2px #000000 solid;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}

span.spinner>.add {
    top: 0;
    border: 2px #000000 solid;
    border-left: 0;
    border-radius: 0 2px 2px 0;
}

span.spinner>.sub:hover,
span.spinner>.add:hover {
    background: #000000;
    color: #25323B;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}